@import "tailwindcss";
/* *{
  background-color: #111;
  color: rgb(255, 255, 255);
} */
 
*{
  color:#fff;
}
body{
  background-color: #111;
}
#tasklist::-webkit-scrollbar{
  display:none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1); /* Turns the black icon into white */
    cursor: pointer;
}